.chatPage {
  padding: 20px;
}

.chatHistory {
  overflow-y: auto;
  max-height: 800px;
  margin-top: 80px;
  padding-right: 10px;
}

.user-action {
  position: fixed;
  bottom: 20px;
  width: calc(100% - 40px);
}
