.chatPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chatHistory {
  flex: 1;
  overflow-y: auto;
  height: 800px;
  margin-top: 140px;
}

.user-action {
  position: fixed;
  bottom: 20px;
  width: calc(100% - 40px);
}
